# Web/HTML files
monkey.html

# Extraneous Python scripts
hospital*.py
practice*.py
test_1.py
app.py
lab4exe.py

# JSON data files not needed for the repo
finance_data.json

# VS Code settings folder
.vscode/